# Table of Contents
 <p>

In [1]:
import pandas as pd
import numpy as np

- pivot_table
- groupby

http://stackoverflow.com/questions/34702815/pandas-group-by-and-pivot-table-difference

In [ ]:
# http://nikgrozev.com/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/

from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "http://nikgrozev.com/images/blog/Reshaping%20in%20Pandas%20-%20Pivot%20Pivot-Table%20Stack%20and%20Unstack%20explained%20with%20Pictures/pivoting_simple1.png")

In [ ]:
# http://nikgrozev.com/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/

from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "http://nikgrozev.com/images/blog/Reshaping%20in%20Pandas%20-%20Pivot%20Pivot-Table%20Stack%20and%20Unstack%20explained%20with%20Pictures/pivoting_table_simple1.png")

In [2]:
df = pd.DataFrame({"a": [1,2,3,1,2,3], 
                   "b":[1,1,1,2,2,2],
                   "c":np.random.rand(6)})
df

   a  b         c
0  1  1  0.483603
1  2  1  0.158945
2  3  1  0.258192
3  1  2  0.978372
4  2  2  0.250143
5  3  2  0.255935

In [3]:
pd.pivot_table(df, index=["a"], columns=["b"], values=["c"], aggfunc=np.sum)

          c
b         1         2
a
1  0.483603  0.978372
2  0.158945  0.250143
3  0.258192  0.255935

In [4]:
df.groupby(['a','b']).sum()

            c
a b
1 1  0.483603
  2  0.978372
2 1  0.158945
  2  0.250143
3 1  0.258192
  2  0.255935

In [5]:
_.unstack()

          c
b         1         2
a
1  0.483603  0.978372
2  0.158945  0.250143
3  0.258192  0.255935

In [6]:
df.groupby(['a','b']).sum().index

MultiIndex(levels=[[1, 2, 3], [1, 2]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]],
           names=['a', 'b'])

In [7]:
df.groupby(['a','b'])['c'].sum()

a  b
1  1    0.483603
   2    0.978372
2  1    0.158945
   2    0.250143
3  1    0.258192
   2    0.255935
Name: c, dtype: float64

more on groupby

- .ngroups (get the number of groups that this will create)
- .groups
- .size (get how many items are in each group)
- .count (get the count of items in each column of each group)
- .get_group (get the data in one specific group)
- .head (get the first ? items in each group)
- .tail 
- .nth (get the ? item in each group)
- .describe (get descriptive statistics for each)